*, *:before, *:after{
    box-sizing: border-box;
}

body {
     margin: 0;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: plum;
    flex-direction: row;
    height: 100vh;
}

.content p{
    font-size: 2.9em;
    margin: 0 5em;
    font-style: italic;
    line-height: 1.5em;
    color: #fff;
    font-weight: 800;
}

.content p a{
    text-decoration : none;
    color: #2F56B0;
    position: relative;
    transition: color .5s ease-out;
}

.content p a:hover::after{
    animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
    border-color: #457DFB;
}

.content p a::after {
    content: '';
    border-bottom: #2F56B0;
    position: absolute;
    border-bottom: .1em #2F56B0 solid;
    left: 0;
    right: 100%;
    bottom: 0em;
    border-radius: 50%;
    transition: right .5s cubic-bezier(0,.5,0,1),
                border-color .5s ease-out;
}

.content p a:hover{
    text-decoration: none;
    color: #457DFB;
}


/* ANIMACIONES */

@keyframes anchor-underline {
    0%, 10% {
      left: 0;
      right: 100%;
    }
    40%, 60% {
      left: 0;
      right: 0;
    }
    90%, 100% {
      left: 100%;
      right: 0;
    }
  }